body {
    background-color: #203239;
    text-align: center;
}
h1 {
    color: #EEEDDE;
    font-size: 25px;
}
 
p {
    color: #E0DDAA;
    font-size: 20px
}

button {
    width: 90px;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    background: linear-gradient(#E0DDAA, #EEEDDE);
    color: #141E27;
    text-transform: uppercase;
    cursor: pointer;
}

#impossible {
    width: 160px;
    cursor: not-allowed;
}